<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{{URL}}/admin" class="navbar-brand">ACD WEBDEV</a>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav">              
                {{links}}
            </ul>

            <idv class="d-flex justify-content-end" style="width:100%;">
                <a href="{{URL}}/admin/logout">
                    <button type="button" class="btn">Sair</button>
                </a>
            </idv>

        </div>

    </div>
</nav>
